body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

#about-me, #portfolio, #skills, #testimonials, #contact {
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
